@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
.bg-image {
    background-image: url("views/backgroundimage.jpg");
    background-size: cover;
    background-position: center;
}
